<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="cn.hlx.springframework.test.bean.UserService"/>
    
    <bean class="cn.hlx.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    
    <bean id="beforeAdvice" class="cn.hlx.springframework.test.bean.UserServiceBeforeAdvice"/>
    
    <bean id="methodInterceptor" class="cn.hlx.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>
    
    <bean id="pointcutAdvisor" class="cn.hlx.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cn.hlx.springframework.test.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>